<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.css">

</head>
<body>
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-sm-6">
                <p class="text-center">CRUD ToDo</p>
                <div class="well">
                    <form action="">
                        <div class="form-group">
                            <label for="name">Название</label>
                            <input v-model="name" type="text" class="form-control form-control-sm" id="name" value="Задача">

                        </div>
                        <div class="form-group">

                            <label for="description">Описание</label>
                            <textarea v-model="description" class="form-control form-control-sm" id="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="priority">Приоритет</label>
                            <select v-model="priority" class="form-control form-control-sm" name="" id="priority">
                                <option value="0" selected="selected">Важно</option>
                                <option value="1">Так себе</option>
                                <option value="2">Пофиг</option>
                            </select>
                        </div>

                        <button v-on:click="createTodo($event)" class="btn btn-success btn-sm">{{ editedIndex == null ? 'Добавить' : 'Ok' }}</button> <!-- @click="createTodo" -->
                    </form>
                </div>
            </div>

            <div class="col-sm-6">
                <p class="text-center">Задания</p>
                <div
                    v-for="(todo, index) in todos"
                    class="alert" :class="{
                        'alert-danger':     todo.priority === 0,
                        'alert-success':    todo.priority === 2,
                        'alert-info':       todo.priority === 1
                    }">
                    <h4 class="alert-heading">{{ todo.name }}
                        <i @click="deleteTodo(index)" class="fa fa-close float-right" ></i>
                        <i @click="updateTodo(index)" class="fa fa-pencil float-right"></i>
                        <i @click="readTodo(index)" class="fa fa-check float-right"></i>
                    </h4>
                    <hr />
                    <p>{{ todo.description}}</p>
                </div>

            </div>
        </div>
    </div>

    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>
