*
{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body
{
    width : 100vw;
    height : 100vh;
    font-family: 'Roboto', sans-serif;
}
.wrapper
{
    width : 70%;
    margin : 0 auto;
}
.wrapper p
{
    padding : 40px;
}
.wrapper p
{

    text-align : center;
}
.header
{
    display: flex;
    background-color: green;
}
.photo
{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e2/Reeipublic_Banana.gif);
    background-size : cover;
    background-position : center center;
    background-color: #cddc39;
}
.info
{
    background-color: #fff27c;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding : 30px 20px;
}
h1
{
    width : 100%;
    text-align: center;
}
hr
{
    width : 70%;
    height : 5px;
    margin : 0 auto;
    background: linear-gradient(to left, #ffff00 0%,#6bb700 100%);
    border : none;
}
@media screen and (max-width: 767px) {
    h1
    {
        font-size: 24px;
        font-weight: 200;
    }
    p
    {
        font-size: 85%;
    }
    .wrapper {
        width : 100%;
    }
    .header
    {
        flex-wrap: wrap;
    }
    .photo
    {
        width : 100%;
        min-height: 200px;
    }
}
@media screen and (min-width: 768px) {
    .photo
    {
        width : 35%;
    }
    .info
    {
        width : 65%;
    }
    h1
    {
        font-size: 28px;
        font-weight: 400;
    }
    p
    {
        font-size: 90%;
    }
    /*https://www.vebs.in/wp-content/uploads/2013/03/Web-Developer.jpg*/
}
/**/


.wrapper
{
    display:none;
}


.hidden
{
    display: none !important;
}